---
import { firstCapitalizeLetter } from '@libs/helpers';

type Props = {
	class: 'primary-navbar__list_item' | 'secondary-navbar__list_item';
	class2?: string;
	class3: 'hover-underline' | 'hover-overline';
	link: {
		href: string;
	};
	index: number;
};

const {
	link,
	index,
	class: styled_navbar,
	class2: styled_link,
	class3: hover_line,
	...rest
} = Astro.props;
---

<li
	class:list={['navbar__list_item', styled_navbar]}
	style={`--delay: ${(index + 1) * 0.2}s`}
	{...rest}
>
	<a
		class:list={['item-link translate-transition', styled_link, hover_line]}
		href=`#${link.href}`
		data-link-index={`${(index + 1).toString().padStart(2, '0')}.`}
		aria-label={`go to ${link.href} section`}
		{...rest}
	>
		{firstCapitalizeLetter(link.href)}
	</a>
</li>

<style lang="scss">
	.navbar__list_item {
		height: 100%;
		display: flex;
		align-items: center;
		position: relative;

		.item-link::before {
			content: attr(data-link-index);
			color: $secondary-color;
			margin-right: 0.25rem;
		}
	}

	.navbar__list_item {
		opacity: 0;
		@include text-appear($speed: $header-heightTransition, $translateY-from: -20px);
		animation-delay: var(--delay);
	}
</style>
