.project-card {
	--transition-duration: 500ms;
	min-width: 200px;
	display: grid;
	grid-template-rows: repeat(3, auto);
	position: relative;
	transition:
		box-shadow var(--transition-duration) ease,
		opacity var(--transition-duration) ease;
	background-color: $secondary-color;
	color: $primary-color;
	padding: 0.5rem 0 0rem;
	border-radius: 0 0 30px 30px;
}

.project-card__top {
	grid-row: 1 / 2;
}

.project-card,
.project-card__mobileImg {
	filter: drop-shadow(0px 0px 5px $tertiary-color);
}

.lazy-load {
	filter: blur(5px) !important;
}

.project-card__imgContainer {
	grid: 2 / 3;
	padding: 0.5rem 0.25rem;
	justify-self: center;
}

.project-card__desktopImg {
	display: none;
}

.project-card__mobileImg {
	width: 200px;
	height: 400px;
}

.project-card_technologies {
	grid: 3 / 4;
}

@include mq('sm') {
	.project-card__mobileImg {
		width: 100px;
		height: 200px;
		position: absolute;
		left: -2rem;
		top: 2rem;
	}
	.project-card__desktopImg {
		display: block;
	}
}

@include mq('md') {
	.project-card__mobileImg {
		width: 125px;
		height: 250px;
	}
}

/** HOVER **/
.project-card__overlay {
	opacity: 0;
	transition: opacity var(--transition-duration) ease;
}

.project-card:hover {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

	.project-card__overlay {
		opacity: 1;
	}

	@include mq('sm') {
		.project-card__mobileImg {
			opacity: 0;
			transition: opacity var(--transition-duration) ease;
		}
	}
}
