.project-card {
	--transition-duration: 500ms;

	position: relative;
	transition:
		box-shadow var(--transition-duration) ease,
		opacity var(--transition-duration) ease;
	background-color: $secondary-color;
	color: $primary-color;
	padding: 0.5rem 0 0rem;
	border-radius: 0 0 30px 30px;
}

.project-card__overlay {
	display: none;
}

.project-card,
.project-card__mobileImg {
	filter: drop-shadow(0px 0px 5px $tertiary-color);
}

.project-card__imgContainer {
	display: flex;
	justify-content: center;

	.project-card__desktopImg {
		display: none;
	}

	.project-card__mobileImg {
		background-size: calc(100% - 1vw) calc(100% - 0.7rem);
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 28px;
	}
}

@include mq('sm') {
	.project-card {
		border-radius: 0%;
	}

	.project-card__overlay {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(1px);
		opacity: 0;
		transition: opacity var(--transition-duration) ease;

		&::after {
			--corner-color: #{$main-color};
			--corner-scale: 1.05;
		}
	}

	.project-card:hover {
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

		.project-card__overlay {
			opacity: 1;
		}

		.project-card__mobileImg {
			opacity: 0;
			transition: opacity var(--transition-duration) ease;
		}
	}

	.project-card__imgContainer {
		position: relative;
		max-height: 50vh;

		.project-card__desktopImg {
			display: block;
		}

		.project-card__mobileImg {
			position: absolute;
			top: -2rem;
			left: -2rem;
			background-size: calc(100% - 0.3rem) calc(100% - 0.7rem);
			border-radius: 0px;
			opacity: 1;
			transition: opacity var(--transition-duration) ease;
			max-width: 150px;
		}
	}
}
