.overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(1px);

	.overlay__description {
		font-family: 'BlenderPro Book', sans-serif;
		width: 80%;
		@include font-responsive(14px, 5vw, 16px);
		text-overflow: ellipsis;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 15;
		-webkit-box-orient: vertical;
	}

	&::after {
		--corner-color: #{$secondary-color};
		--corner-scale: 1.05;
	}
}
