---
type Props = {
	url: string;
	class: 'github' | 'preview';
};
const { class: icon, url, ...rest } = Astro.props;
---

<a class={`project-card__link ${icon}`} target="_blank" href={url} {...rest}></a>

<style lang="scss">
	.project-card__link {
		position: relative;
		display: flex;
		&::after {
			content: '';
			background-size: cover;
			width: 1.5rem;
			height: 1.5rem;
			filter: $filter-black;
		}

		&:hover::after {
			filter: $filter-primary;
		}

		&.github::after {
			background-image: url('@assets/icons/github-icon.svg');
		}
		&.preview::after {
			background-image: url('@assets/icons/preview-icon.svg');
		}
	}
</style>
