$breakpoints: (
	xs: 320px,
	sm: 480px,
	md: 768px,
	lg: 992px,
	xl: 1280px,
	xxl: 1600px,
	custom375: 375px,
	custom600: 600px,
	custom700: 700px,
	custom860: 860px,
	custom900: 900px,
	custom1024: 1024px,
	custom1440: 1440px,
);
