@use 'breakpoints' as *;

/** Variables **/
$header-heightMobile: 20vw;
$header-height-sm: 70px;
$header-height-scrolled: 50px;
$header-heightTransition: 300ms;

/** Extends **/
$transtion-color-scheme: all 1s ease;
