---
import SectionShape from '@components/ui/SectionShape.astro';

type Props = {
	sectionNumber: number;
	sectionTitle: string;
	shape: 'type1';
};

const { sectionNumber, sectionTitle, shape } = Astro.props;
---

<SectionShape sectionNumber={sectionNumber} sectionTitle={sectionTitle} class={shape}>
	<div slot="section-text" class="about-section__text">
		<p class="about-section__text_description">
			I'm a self-taught front-end developer with basic back-end knowledge, based in Fukuoka,
			Japan. With a passion for creating responsive and engaging websites. With a focus on
			quality and attention to detail, I'm dedicated to delivering exceptional web solutions
			that exceed expectations. I'm constantly seeking new opportunities to learn and grow as
			a developer, and I'm excited to contribute my skills to the tech industry.
		</p>
		<div class="about-section__text_technologies">
			<p>Here are a few technologies I've been working with recently:</p>
			<ul>
				<li>Javascript (ES6+)</li>
				<li>Typescript</li>
				<li>React / Next.js</li>
				<li>Astro</li>
				<li>Vite</li>
			</ul>
		</div>
	</div>
</SectionShape>

<style lang="scss">
	.about-section__text {
		padding: 3rem 2rem 3rem;
		text-align: justify;
		letter-spacing: 1px;
	}

	.about-section__text_description {
		margin-bottom: 2rem;
	}

	.about-section__text_technologies {
		ul {
			display: grid;
			grid-template-columns: 1fr;
			@include mq('md') {
				grid-template-columns: repeat(2, 1fr);
			}
			grid-template-rows: repeat(3, 1fr);
			column-gap: 2rem;
			margin: 1rem auto 0;
			width: fit-content;
		}
	}
</style>
