---
import '@styles/main.scss';

import Parallax from '@components/parallax/Parallax.astro';
import Layout from 'src/layout/Layout.astro';
---

<Layout pageTitle="Thomas Guiart">
	<Parallax slot="parallax" />
	<h1>Hi, my name is Thomas Guiart</h1>
</Layout>
