---
import '@styles/main.scss';

import Parallax from '@components/parallax/Parallax.astro';
import HeroSection from '@components/section/HeroSection.astro';
import Layout from 'src/layout/Layout.astro';
---

<Layout pageTitle="Thomas Guiart">
	<Parallax slot="parallax">
		<HeroSection slot="hero-section" />
	</Parallax>
	<h1>Hi, my name is Thomas Guiart</h1>
	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat in aut, voluptatem
		nihil vero sint possimus. Aliquam repellendus voluptatum beatae accusamus iste rem
		minus, earum eos eaque officia, tempore hic. Lorem ipsum, dolor sit amet consectetur
		adipisicing elit. Fugit animi error accusantium earum facilis fugiat consequatur
		officia, exercitationem quaerat. Quaerat non dolore dolor corrupti officia
		necessitatibus assumenda error corporis porro? Officiis quos ex aperiam amet repellendus
		eligendi tempora, quibusdam beatae eum quidem possimus saepe totam odio odit asperiores,
		aspernatur soluta molestias ipsum dicta debitis vero sed ab veniam quisquam.
	</p>
	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat in aut, voluptatem
		nihil vero sint possimus. Aliquam repellendus voluptatum beatae accusamus iste rem
		minus, earum eos eaque officia, tempore hic. Lorem ipsum, dolor sit amet consectetur
		adipisicing elit. Fugit animi error accusantium earum facilis fugiat consequatur
		officia, exercitationem quaerat. Quaerat non dolore dolor corrupti officia
		necessitatibus assumenda error corporis porro? Officiis quos ex aperiam amet repellendus
		eligendi tempora, quibusdam beatae eum quidem possimus saepe totam odio odit asperiores,
		aspernatur soluta molestias ipsum dicta debitis vero sed ab veniam quisquam.
	</p>
	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat in aut, voluptatem
		nihil vero sint possimus. Aliquam repellendus voluptatum beatae accusamus iste rem
		minus, earum eos eaque officia, tempore hic. Lorem ipsum, dolor sit amet consectetur
		adipisicing elit. Fugit animi error accusantium earum facilis fugiat consequatur
		officia, exercitationem quaerat. Quaerat non dolore dolor corrupti officia
		necessitatibus assumenda error corporis porro? Officiis quos ex aperiam amet repellendus
		eligendi tempora, quibusdam beatae eum quidem possimus saepe totam odio odit asperiores,
		aspernatur soluta molestias ipsum dicta debitis vero sed ab veniam quisquam.
	</p>
	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat in aut, voluptatem
		nihil vero sint possimus. Aliquam repellendus voluptatum beatae accusamus iste rem
		minus, earum eos eaque officia, tempore hic. Lorem ipsum, dolor sit amet consectetur
		adipisicing elit. Fugit animi error accusantium earum facilis fugiat consequatur
		officia, exercitationem quaerat. Quaerat non dolore dolor corrupti officia
		necessitatibus assumenda error corporis porro? Officiis quos ex aperiam amet repellendus
		eligendi tempora, quibusdam beatae eum quidem possimus saepe totam odio odit asperiores,
		aspernatur soluta molestias ipsum dicta debitis vero sed ab veniam quisquam.
	</p>
	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat in aut, voluptatem
		nihil vero sint possimus. Aliquam repellendus voluptatum beatae accusamus iste rem
		minus, earum eos eaque officia, tempore hic. Lorem ipsum, dolor sit amet consectetur
		adipisicing elit. Fugit animi error accusantium earum facilis fugiat consequatur
		officia, exercitationem quaerat. Quaerat non dolore dolor corrupti officia
		necessitatibus assumenda error corporis porro? Officiis quos ex aperiam amet repellendus
		eligendi tempora, quibusdam beatae eum quidem possimus saepe totam odio odit asperiores,
		aspernatur soluta molestias ipsum dicta debitis vero sed ab veniam quisquam.
	</p>
	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat in aut, voluptatem
		nihil vero sint possimus. Aliquam repellendus voluptatum beatae accusamus iste rem
		minus, earum eos eaque officia, tempore hic. Lorem ipsum, dolor sit amet consectetur
		adipisicing elit. Fugit animi error accusantium earum facilis fugiat consequatur
		officia, exercitationem quaerat. Quaerat non dolore dolor corrupti officia
		necessitatibus assumenda error corporis porro? Officiis quos ex aperiam amet repellendus
		eligendi tempora, quibusdam beatae eum quidem possimus saepe totam odio odit asperiores,
		aspernatur soluta molestias ipsum dicta debitis vero sed ab veniam quisquam.
	</p>
	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat in aut, voluptatem
		nihil vero sint possimus. Aliquam repellendus voluptatum beatae accusamus iste rem
		minus, earum eos eaque officia, tempore hic. Lorem ipsum, dolor sit amet consectetur
		adipisicing elit. Fugit animi error accusantium earum facilis fugiat consequatur
		officia, exercitationem quaerat. Quaerat non dolore dolor corrupti officia
		necessitatibus assumenda error corporis porro? Officiis quos ex aperiam amet repellendus
		eligendi tempora, quibusdam beatae eum quidem possimus saepe totam odio odit asperiores,
		aspernatur soluta molestias ipsum dicta debitis vero sed ab veniam quisquam.
	</p>
</Layout>
