---
import Logo from '@assets/logo.png';
import Burger from '@components/ui/Burger.astro';
import { Image } from 'astro:assets';

import Navbar from '../navbar/Navbar.astro';
---

<header class="header">
	<div class="header__logo">
		<a href="/">
			<Image src={Logo} alt="logo" width={42} height={42} />
		</a>
	</div>
	<Navbar class="primary-navbar" />
	<Burger />
</header>

<style lang="scss">
	.header {
		position: fixed;
		width: 100%;
		padding-inline: max(5vw, 2rem);
		display: flex;
		justify-content: space-between;
		align-items: center;

		height: $header-heightMobile;
		transition:
			height $header-heightTransition ease,
			padding-inline calc($header-heightTransition + 400ms) ease;
		@include mq('sm') {
			height: $header-height-sm;
		}
	}

	.header__logo {
		width: 42px;
		height: 42px;
	}

	.primary-navbar {
		display: none;

		@include mq('md') {
			height: 100%;
			display: flex;
			align-items: center;
			padding-right: 7vw;
			@include font-responsive(16px, 2vw, 18px);
		}
	}
</style>
