---
import Logo from '@assets/logo.png';
import Burger from '@components/ui/Burger.astro';
import { Image } from 'astro:assets';

import Navbar from '../navbar/Navbar.astro';
---

<header class="header">
	<div class="header__logo">
		<a href="/">
			<Image src={Logo} alt="logo" />
		</a>
	</div>
	<Navbar class="primary-navbar" />
	<Burger />
</header>

<style lang="scss">
	.header {
		position: fixed;
		width: 100%;
		padding-inline: max(5vw, 2rem);
		display: flex;
		justify-content: space-between;
		align-items: center;

		height: $header-heightMobile;
		transition:
			height $header-heightTransition ease,
			padding-inline calc($header-heightTransition + 400ms) ease;
		@include mq('sm') {
			height: $header-height-sm;
		}
	}

	.header__logo {
		width: 42px;
		height: 42px;
	}

	.header__logo {
		width: max(4vw, 42px);
		height: max(4vw, 42px);
		max-width: 58px;
		max-height: 58px;
		transition:
			width $header-heightTransition,
			filter $header-heightTransition;
		filter: $filter-tertiary;
		@container style(--theme: dark) {
			filter: $filter-primary;
		}

		&:hover {
			transition: filter 500ms ease;
			filter: $filter-secondary;
		}
	}

	.primary-navbar {
		--padding-right: 7vw;

		display: none;

		@include mq('md') {
			height: 100%;
			display: flex;
			align-items: center;
			padding-right: var(--padding-right);

			@include font-responsive(16px, 2vw, 18px);

			&::after {
				content: '';
				position: absolute;
				background-color: $secondary-color;
				width: calc(var(--padding-right) + 2vw);
				height: 2px;
				right: 0;
			}
		}
	}
</style>
