---
import Burger from '@components/ui/Burger.astro';
import Logo from '@components/ui/Logo.astro';

import Navbar from '../navbar/Navbar.astro';
---

<header class="header">
	<div class="header__logo">
		<a href="/">
			<Logo />
		</a>
	</div>
	<Navbar class="primary-navbar" />
	<Burger />
</header>

<style lang="scss">
	.header {
		z-index: 1001;
		position: fixed;
		width: 100%;
		padding-inline: max(5vw, 2rem);
		display: flex;
		justify-content: space-between;
		align-items: center;

		height: $header-heightMobile;
		transition:
			height $header-heightTransition ease,
			padding-inline calc($header-heightTransition + 400ms) ease;
		@include mq('sm') {
			height: $header-height-sm;
		}
	}

	.header__logo {
		width: max(4vw, 42px);
		height: max(4vw, 42px);
		max-width: 58px;
		max-height: 58px;
		transition:
			width $header-heightTransition,
			height $header-heightTransition;
	}

	.primary-navbar {
		--padding-right: 7vw;

		display: none;

		@include mq('md') {
			height: 100%;
			display: flex;
			align-items: center;
			padding-right: var(--padding-right);
			transition: padding-right $header-heightTransition;

			@include font-responsive(16px, 2vw, 18px);

			&::after {
				content: '';
				position: absolute;
				background-color: $secondary-color;
				width: calc(var(--padding-right) + 2vw);
				height: 2px;
				right: 0;
				transition: width $header-heightTransition;
			}
		}
	}

	.header.scrolled .primary-navbar {
		padding-right: calc(var(--padding-right) - 2vw);

		@include font-responsive(12px, 2vw, 14px);

		&::after {
			width: var(--padding-right);
		}
	}

	.header.scrolled .header__logo {
		@include mq('md') {
			@include width-height(38px, 38px);
		}
	}
</style>
