.frame_container {
	--screen-top: 50%;
	--screen-width: 93%;
	--screen-padding-top: 194%;
	--screen-border-radius: 10px;

	position: relative;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.frame_screen {
	position: absolute;
	top: var(--screen-top);
	left: 50%;
	width: calc(var(--screen-width) + 5px);
	padding-top: var(--screen-padding-top);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-size: cover;
	z-index: -1;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border-radius: var(--screen-border-radius);
}

.frame_shape {
	z-index: 1;
}
