@font-face {
	font-display: swap;
	font-family: 'Franklin Gothic Regular';
	src: url('/fonts/Franklin-Gothic-Condensed/Franklin-Gothic-Regular.ttf')
		format('TrueType');
}

@font-face {
	font-display: swap;
	font-family: 'Franklin Gothic Condensed';
	src: url('/fonts/Franklin-Gothic-Condensed/Franklin-Gothic-Condensed.otf')
		format('OpenType');
}

@font-face {
	font-display: swap;
	font-family: 'Impact';
	src: url('/fonts/Impact/impact.ttf') format('TrueType');
}

@font-face {
	font-display: swap;
	font-family: 'Impacted';
	src: url('/fonts/Impact/impacted.ttf') format('TrueType');
}

@font-face {
	font-display: swap;
	font-family: 'Zen';
	src: url('/fonts/Zen-Antique/ZenAntique-Regular.ttf') format('TrueType');
}

$__font100: 6.25rem;
$__font80: 5rem;
$__font50: 3.125rem;
$__font48: 3rem;
$__font40: 2.5rem;
$__font32: 2rem;
$__font30: 1.875rem;
$__font28: 1.75rem;
$__font24: 1.5rem;
$__font22: 1.375rem;
$__font20: 1.25rem;
$__font18: 1.125rem;
$__font16: 1rem;
$__font14: 0.875rem;
$__font13: 0.8125rem;
$__font12: 0.75rem;
$__font10: 0.625rem;
