@font-face {
	font-display: swap;
	font-family: 'Refinery 25 bold';
	src: url('/fonts/Refinery/refinery-25-bold.ttf') format('TrueType');
}
@font-face {
	font-display: swap;
	font-family: 'Refinery 25 italic';
	src: url('/fonts/Refinery/refinery-25-light-italic.ttf') format('TrueType');
}
@font-face {
	font-display: swap;
	font-family: 'BlenderPro Book';
	src: url('/fonts/BlenderPro-Book/Blender-Pro-Book.otf') format('OpenType');
}

@font-face {
	font-display: swap;
	font-family: 'Impact';
	src: url('/fonts/Impact/impact.ttf') format('TrueType');
}

@font-face {
	font-display: swap;
	font-family: 'Impacted';
	src: url('/fonts/Impact/impacted.ttf') format('TrueType');
}

@font-face {
	font-display: swap;
	font-family: 'Zen';
	src: url('/fonts/Zen-Antique/ZenAntique-Regular.ttf') format('TrueType');
}
