@font-face {
	font-family: 'Franklin Gothic Regular';
	src: url('/fonts/Franklin-Gothic-Condensed/Franklin-Gothic-Regular.ttf')
		format('TrueType');
}

@font-face {
	font-family: 'Franklin Gothic Condensed';
	src: url('/fonts/Franklin-Gothic-Condensed/Franklin-Gothic-Condensed.otf')
		format('OpenType');
}

@font-face {
	font-family: 'Impact';
	src: url('/fonts/Impact/impact.ttf') format('TrueType');
}

@font-face {
	font-family: 'Impacted';
	src: url('/fonts/Impact/impacted.ttf') format('TrueType');
}
