@use '@styles/abstracts/' as *;

:root {
	color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
	html {
		--theme: dark;
		transition: $transtion-color-scheme;
	}
}

body {
	background-color: $primary-color;
	color: $tertiary-color;
	transition: $transtion-color-scheme;
}

a {
	color: $tertiary-color;
}

/* Attach dark mode styles */
@container style(--theme: dark) {
	body {
		background-color: $primary-color_dark;
		color: $tertiary-color_dark;
	}

	a {
		color: $tertiary-color_dark;
	}
}
