@use '@styles/abstracts/' as *;

:root {
	color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
	html {
		--theme: dark;
		transition: $transtion-color-scheme;
	}
}

body,
header,
main,
section {
	transition: $transtion-color-scheme;
	background-color: $primary-color;
	color: $tertiary-color;
	@container style(--theme: dark) {
		transition: $transtion-color-scheme;
		background-color: $main_color;
		color: $tertiary-color_dark;
	}
}

.parallax__foreground-front {
	transition: $transtion-color-scheme;
	background-color: $primary-color;
	@container style(--theme: dark) {
		background-color: $main-color;
	}
}

a {
	transition: $transtion-color-scheme;
	color: $tertiary-color;
	@container style(--theme: dark) {
		color: $tertiary-color_dark;
	}
}

.section-border {
	transition: $transtion-color-scheme;
	background-color: $tertiary-color;
	@container style(--theme: dark) {
		background-color: $tertiary-color_dark;
	}
}
