---
type Props = {
	class: 'type1' | 'type2';
};

const { class: shape, ...rest } = Astro.props;
---

<div class:list={['div-container', shape]} {...rest}>
	<slot />
</div>

<style lang="scss">
	.div-container {
		position: relative;
		background-color: $primary-color;

		&.type1 {
			margin: 1rem auto 2rem auto;
			max-width: 760px;
		}

		&.type1::before,
		&.type2::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			height: 2rem;
			top: -2rem;
		}

		&.type1::before {
			background: url('@assets/shape/type1.svg') no-repeat;
		}

		&.type2 {
			margin-inline: calc(-1 * $main-inlinePadding-mobile * 1.1);
			@include mq('md') {
				margin-inline: calc(-1 * $main-inlinePadding-desktop * 1.43);
			}
		}

		&.type2::before {
			background: url('@assets/shape/type2.svg') no-repeat;
			background-size: 100%;
			background-position: bottom;
			@include mq('md') {
				background-position: center;
			}
		}
	}
</style>
