---
type Props = {
	class: 'type1';
};

const { class: shape, ...rest } = Astro.props;
---

<div class:list={['div-container', shape]} {...rest}>
	<slot />
</div>

<style lang="scss">
	.div-container {
		position: relative;
		background-color: $primary-color;

		&.type1::before {
			content: '';
			position: absolute;
			background: url('@assets/shape/type1.svg') no-repeat;
			width: 100%;
			height: 2rem;
			top: -2rem;
		}
	}
</style>
