---
import ContainerShape from './ContainerShape.astro';
import SectionTitle from './SectionTitle.astro';

type Props = {
	id: string;
	sectionNumber: number;
	sectionTitle: string;
	class: 'type1' | 'type2';
	classAnimation?: string;
};

const { class: shape, classAnimation: animation, id: id, ...rest } = Astro.props;
---

<section id={id} class:list={['section-wrapper', animation]} {...rest}>
	<SectionTitle {...rest} />
	<ContainerShape class={shape}>
		<slot name="section-text" />
	</ContainerShape>
</section>

<style lang="scss">
	.section-wrapper {
	}
</style>
