---
import ContainerShape from './ContainerShape.astro';
import SectionTitle from './SectionTitle.astro';

type Props = {
	id: string;
	sectionNumber: number;
	sectionTitle: string;
	class: 'type1' | 'type2' | 'type3';
};

const { class: shape, id: id, ...rest } = Astro.props;
---

<section id={id} class="section-wrapper" {...rest}>
	<SectionTitle {...rest} />
	<ContainerShape class={shape}>
		<slot name="section-text" />
	</ContainerShape>
</section>

<style lang="scss">
	.section-wrapper {
		padding: 2rem 0;
		opacity: 0;
		@include text-appear(
			$speed: calc($header-heightTransition * 4),
			$translateY-from: 10px
		);
		animation-delay: $loading-delay-2;
	}
</style>
