---
import Header from '@components/layout/header/Header.astro';

type Props = {
	pageTitle: string;
};

const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon-cyber.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<slot name="parallax" />
		<main class="main">
			<slot />
		</main>
	</body>
</html>

<style lang="scss">
	.main {
		position: relative;
		z-index: 1;
	}
</style>

<script>
	const favIcon = document.querySelector('link[rel="icon"]') as HTMLLinkElement;
	const colorTheme = window.matchMedia('(prefers-color-scheme: dark)');
	const isDarkTheme = colorTheme.matches;

	/** Change the favicon */
	document.addEventListener('visibilitychange', () => {
		if (document.hidden) {
			isDarkTheme
				? favIcon.setAttribute('href', '/favicon-dark.svg')
				: favIcon.setAttribute('href', '/favicon-light.svg');
			return;
		}
		favIcon.setAttribute('href', '/favicon-cyber.svg');
		return;
	});

	colorTheme.addEventListener('change', event => {
		if (document.hidden) {
			if (event.matches) {
				favIcon.setAttribute('href', '/favicon-dark.svg');
				return;
			}
			favIcon.setAttribute('href', '/favicon-light.svg');
		}
		return;
	});

	/** Scroll listener */
	const header = document.querySelector('.header') as HTMLDivElement;
	const scrollY = window.scrollY;

	scrollY ? header.classList.add('scrolled') : null;

	window.addEventListener('scroll', () => {
		const scrollY = window.scrollY;
		if (scrollY >= 20) return;
		scrollY === 0 ? header.classList.remove('scrolled') : header.classList.add('scrolled');
	});
</script>
